[Unit]
Description=Heisenbot pull latest code from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=-/usr/local/bin/walter update
